.MainWrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 15px;
    text-align: center;
    background-color: #cac8c8;
}
.HabbitsWrap{
    margin:10px 10px;
}
.HeaderTodoWrapper{
   display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    margin: 10px;
}
.HeaderTodoLinks{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.active{
    font-size: 30px;
}
.HeaderTodoItem{

}
.HeaderTodoName{
    font-size: 15px;
    font-weight: bold;
}
.MainToDoWrapper{
    background: #ebeaec;
    height: 440px;
    padding: 15px;
}
.InputToDo{
    width: 100%;
    text-align: center;
}
.HabbitItemWrapper{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin-top: 15px;
    height: 60px;
    border: 2px solid #244ee2;
    align-items: center;
    background-color: #fdfdfd;
    border-radius: 5px;
}
.HabbitItemWrapper:hover{
    border: 2px solid #437cf5;

}
.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(120, 172, 238,0.4);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;

}
.modal__content{
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 450px;
    display: flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
}
.modal.active{
    opacity: 1;
    pointer-events: all;
}
.modal_header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.buttn{
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.modal_header button{
  margin: 2px;
}
.inputModal{
    font-size: 15px;
}
.inputFormToDo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.inputFormToDo div{
   margin: 0 8px;
}
.inputFormToDo input{
    border: 3px solid #1d3de0;
    border-radius: 5px;
}
.btnHabbit{
    width: 100%;
    height: 56px;
    border: none;
    outline: none;
    background-color: #47c4c8;
}
.btnHabbit:hover{
    font-size: 25px;
    color: white;
}
.modal_header h3{
    font-size: 20px;
}
.chooseModal_wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}
 label{
    font-size: 20px;
     padding: 10px;
}
 .modal__content select{
     font-size: 15px;
 }
.circle {
    width: 38px;
    height: 38px;
    border-radius: 19px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}

.modall{
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;

}
.modal__contentl{
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 200px;
    height: 30px;
    margin-top: 140px;
    margin-right:180px;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modall.activel{
    opacity: 1;
    pointer-events: all;
}
.MainToDoEveryDay{
    text-decoration:line-through;
}